.masonry {
  column-count: 3;
  column-gap: 1.25rem;
}

.item {
  break-inside: avoid;
  margin-bottom: 1.25rem;
  /* Fixes an issue in webkit where images might get sliced during break */
  -webkit-column-break-inside: avoid; 
  page-break-inside: avoid;
}

@media (max-width: 1024px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 640px) {
  .masonry {
    column-count: 1;
  }
}